* {
    box-sizing: border-box;
}

body {
    background-image: url(black-gradient.jpeg);
    background-size: 100%;
}

.main-container {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 6px;
    padding: 60px 50px 100px 50px;
    width: 30%;
    margin: 140px auto;
    margin-bottom: 0px;
    background-color: white;

}

.div-for-labels {
    margin: 20px 0px;
}

.textbox-for-urlEnter {
    display: block;
    transition: 0.2s;
    outline: none;
    height: 38px;
    width: 100%;
    outline: 1px solid rgb(203, 203, 203);
    border: 2px solid transparent;
    border-radius: 5px;
}

.textbox-for-urlEnter:focus {
    border: 2px solid #0d6efd;
}

#containerForLabels {
    margin: 40px;
    margin-bottom: 10px;
    width: 500px;
}


#ADDButton {
    position: absolute;
    margin-top: 10px;
    width: 24%;
    height: 50px;
    right: 38%;
}

.topbarOfPage {
    background-color: rgb(34, 104, 232);
    height: 10px;
    width: 100%;
    height: 60px;
}

a {
    text-decoration: none;
    color: white;

}

#divNavrBar {
    font-size: 20px;
    padding: 12px;
    color: rgb(95, 255, 47);
    
}