body{
    margin: 0;
    padding: 0;
    
    /* background-image: url(black-gradient.jpeg); */
    background-image: linear-gradient(to right,#272727, #545454,#272727);
    background-size: 100%;
}

.topbar{
    background-color: rgb(34, 104, 232);
    height: 10px;
    width: 100%;
    height: 60px;
}

.top-Container{
    text-align: center;
}

.gridBoxing{
    margin: 40px;
    border: 2px solid black;
    padding: 20px;;
    width: 50%;

    font-size: 25px;
    font-family: 'Lato', sans-serif;
    
    background-color: rgb(33, 116, 224);
    background-image: linear-gradient(to right, rgb(0, 70, 216),rgb(60, 135, 234),rgb(0, 70, 216));

}

#TLEline{
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    color: white;
}

#span1{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #82ff00;;
}

a{
    text-decoration: none;
    color: white;
    
}